#slideshow {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 600px;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
}

h2 {
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item {
    vertical-align: middle;
    background: #333;
    text-align: center;
    height: 600px !important;
}

.carousel {
    margin-top: 20px;
}


#img_wrapper img {
    height: 120px;
    width: 100px;
    position: relative;
    margin: 10px 20px 10px 10px;
    top: 0;
}

#file-drop {
    height: 100px;
    width: 500px;
    border-width: thick;
    border-style: dashed;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

/*body.dragOver #file-drop {
    display: block;
}

body #file-drop {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}*/

.modal-lg {
    width: 1200px;
}

#adminPanel {
    margin: 20px 20px 20px 20px;
    text-align: right;
    vertical-align: middle;
}

#contactInfo {
    margin: 20px 20px 20px 20px;
}


.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}