#slideshow {
    position: relative;
    margin: 10px 20px 10px 10px;
    height: 800px;
    width: 700px;
}

    #slideshow IMG {
        height: inherit;
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
    }

        #slideshow IMG.active {
            height: inherit;
            width: inherit;
            z-index: 10;
        }

        #slideshow IMG.last-active {
            height: inherit;
            width: inherit;
            z-index: 9;
        }

#img_wrapper img {
    height: 120px;
    width: 100px;
    position: relative;
    margin: 10px 20px 10px 10px;
    top: 0;
}

.modal-lg {
  width: 1200px;
}