@{
    ViewBag.Title = "HomePage";
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            document.getElementById('uploadImgs').addEventListener('change', showImgs, false);
        });
    </script>
}

@section Body
{
    <div ng-controller="MainCtrl">

        <input type="file" name="files[]" id="uploadImgs" multiple />

        <output id="list"></output>

        <button class="btn btn-primary" ng-click="uploadImage()">Сохранить</button>

        <img id="imgMain" class="main_img" alt="Нет картинки" ng-init="showMainImg()" />
    </div>

    <div ng-controller="RegistrationsCtrl" ng-cloak ng-init="getLastRegistration()">

        <div id="editor" class="section panel panel-primary">
            <div class="panel-heading">
                Contact information
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input class="form-control" ng-model="registration.FirstName" placeholder="First Name" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.LastName" placeholder="Last Name" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.Location" placeholder="Location" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.Email" placeholder="Email" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.Skype" placeholder="Skype" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.PhoneNumber" placeholder="Phone Number" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="registration.Comment" placeholder="Comment" />
                </div>
                <button class="btn btn-primary" ng-click="createRegistration()">
                    Create
                </button>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>Skype</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody ng-repeat="reg in registrations">
                    <tr>
                        <td>{{ reg.FirstName }}</td>
                        <td>{{ reg.LastName }}></td>
                        <td>{{ reg.Location }}</td>
                        <td>{{ reg.Email }}</td>
                        <td>{{ reg.Skype }}></td>
                        <td>{{ reg.PhoneNumber }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <button ng-click="getAllRegistrations()">
            GET
        </button>
    </div>

}



